* {
  color: white;
}

*::selection {
  color: var(--a-purple);
}

body {
  background: rgb(17, 0, 41);
  background: linear-gradient(
    90deg,
    rgba(17, 0, 41, 1) 0%,
    rgba(8, 6, 30, 1) 20%,
    rgba(4, 7, 23, 1) 80%,
    rgba(0, 17, 36, 1) 100%
  );
}

.portfolio {
  padding: 0 25%;
  padding-top: 10%;
}

.section-profile {
  display: grid;
  grid-template-columns: auto 5rem ;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 1.5rem;
}

.span-container {
  display: grid;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .name-container {
  grid-column: 1/3;
} */
.name {
  font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4.5rem;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  animation: enhance-nav auto linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
  user-select: none;
}

.nav-ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-ul a {
  text-decoration: none;
}

.nav-ul li {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: background-color 0.5s ease-out;
  border-radius: 9999px;
  font-family: Montserrat;
  text-decoration: none;
}

.nav-ul li:hover {
  background-color: #fff2;
}

.active::after {
  content: '';
  animation: active-link 0.3s ease-out both 0.3s;
  margin-bottom: 2px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--a-purple);
}

.social-container {
  display: flex;
  gap: 0.5rem;
}

.social-img {
  height: 1.5rem;
  width: 1.5rem;
}

.social-img > img {
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 100%;
  transition: 0.2s;
}

.social-img > img:hover {
  opacity: 0.5;
}

.img {
  height: 4.5rem;
  aspect-ratio: 1 / 1;
}

.img > img {
  object-fit: fill;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.figure {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: solid white 2px;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  animation: move-figure 5s ease-in-out alternate infinite;
}

.about-me-container-p {
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-me-container-p > p {
  margin: 0;
  margin-bottom: 20px;
}
.about-me-grid {
  grid-column: 1/3;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 50px;
}

.tec-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.tec-container :nth-child(10) > img {
  height: 4rem;
  width: 4rem;
}

.main-skills {
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon-container {
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--second-blue);
}

.icon-container > img {
  height: 2.5rem;
  width: 2.5rem;
}

.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  background-color: var(--second-blue);
  border-radius: 25px;
  border: solid 2px var(--a-purple);
  transition: box-shadow 0.2s ease-in-out;
}
.tag-container:hover {
  box-shadow: 0px 0px 15px var(--a-purple);
}

.tag-container > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tag-section {
  display: flex;
  gap: 5px;
  justify-content: center;

  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.other-skills {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-skill {
  opacity: 0;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  font-weight: bold;
  background-color: #224;
  text-align: center;
  position: absolute;
  top: -40px;
  transition: opacity 0.5s;
}

.icon-container:hover .message-skill {
  opacity: 1;
}

@keyframes enhance-nav {
  to {
    background-color: #fff4;
    backdrop-filter: blur(8px);
    font-size: 20px;
  }
}

@keyframes active-link {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@keyframes move-figure {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translatex(5px);
  }
  100% {
    transform: translateY(7px);
  }
}
