* {
  color: white;
}

*::selection {
  color: var(--a-purple);
}

body {
  background: rgb(17, 0, 41);
  background: linear-gradient(
    90deg,
    rgba(17, 0, 41, 1) 0%,
    rgba(8, 6, 30, 1) 20%,
    rgba(4, 7, 23, 1) 80%,
    rgba(0, 17, 36, 1) 100%
  );
}

.portfolio {
  padding: 0 25%;
  padding-top: 10%;
}

.section-profile {
  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 1.5rem;
}

.span-container {
  display: grid;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.name {
  position: relative;
  font-family: Bebas Neue, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
}
.name::after {
  content: 'Andrés Rodríguez';
  z-index: -1;
  user-select: none;
  position: absolute;
  left: -2px;
  top: 2px;
  background: linear-gradient(
    45deg,
    rgba(0, 217, 247, 1) 0%,
    rgba(16, 193, 248, 1) 10%,
    rgba(30, 171, 249, 1) 20%,
    rgba(52, 136, 250, 1) 35%,
    rgba(79, 95, 251, 1) 50%,
    rgba(107, 52, 253, 1) 65%,
    rgba(123, 28, 254, 1) 80%,
    rgba(124, 26, 254, 1) 90%,
    rgba(141, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 3px -3px 150px var(--a-purple);
}

.name:hover .name::after {
  opacity: 1;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 15px;
  animation: enhance-nav auto linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;
  user-select: none;
}

.nav-ul {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-ul a {
  text-decoration: none;
}

.nav-ul li {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  transition: background-color 0.5s ease-out;
  border-radius: 9999px;
  font-family: Montserrat;
  text-decoration: none;
}

.nav-ul li:hover {
  background-color: #fff2;
}

.active::after {
  content: '';
  animation: active-link 0.3s ease-out both 0.3s;
  margin-bottom: 2px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--a-purple);
}

.social-container {
  display: flex;
  gap: 0.5rem;
}

.social-img {
  height: 1.5rem;
  width: 1.5rem;
}

.social-img > img {
  aspect-ratio: 1/1;
  max-height: 100%;
  max-width: 100%;
  transition: 0.2s;
}

.social-img > img:hover {
  opacity: 0.5;
}

.img {
  height: 4.5rem;
  aspect-ratio: 1 / 1;
}

.img > img {
  object-fit: fill;
  max-height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
}

.figure {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: solid white 2px;
  border-radius: 9999px;
  width: 25px;
  height: 25px;
  animation: move-figure 5s ease-in-out alternate infinite;
}

.about-me-container-p {
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about-me-container-p > p {
  margin: 0;
  margin-bottom: 20px;
}
.about-me-grid {
  max-width: 100%;
  grid-column: 1/3;
}

.skills-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.tec-container :nth-child(8) > img {
  height: 4rem;
  width: 4rem;
}

.main-skills {
  text-align: center;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon-container {
  position: relative;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--second-blue);
}

.icon-container > img {
  height: 2.5rem;
  width: 2.5rem;
}

.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 10px;
  background-color: var(--second-blue);
  border-radius: 25px;
  border: solid 2px var(--a-purple);
  transition: box-shadow 0.2s ease-in-out;
}
.tag-container:hover {
  box-shadow: 0px 0px 15px var(--a-purple);
}

.tag-container > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.tag-section {
  display: flex;
  gap: 5px;
  justify-content: center;

  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.other-skills {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.message-skill {
  display: none;
  opacity: 0;
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  font-weight: bold;
  background-color: #224;
  text-align: center;
  position: absolute;
  top: -40px;
  animation: message-skill-opacity 0.5s ease-out both;
}

.icon-container:hover .message-skill {
  display: inline;
}

.project-section {
  font-family: 'Embed code', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-section > h2 {
  text-align: center;
}
.project-section > h3 {
  text-align: center;
}

.project-container {
  display: flex;
}

.project {
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: auto;
  background: #101324;
  color: #fff;
  border-radius: 15px;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  transition: 1s box-shadow;
}

.project:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.project:hover::before,
.project:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 100%;
  background: #6424e0;
  box-shadow: 0px 0px 10px 2px #6424e0;
  border-radius: 15px;
  z-index: -1;
  animation: 1.5s clockwise infinite;
}

.project:hover:after {
  background: #148dff;
  box-shadow: 0px 0px 10px 2px #148dff;
  animation: 3s counterclockwise infinite;
}

.project-preview-container {
  width: 100%;
  height: 4rem;
}

.project-preview {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.project-info-container {
  padding: 20px;
}

.project-description {
  font-size: 15px;
}

.sticker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--primary-blue);
  padding: 5px;
  border-radius: 100%;
}

.sticker-container > img {
  width: 80%;
  height: 80%;
}

.sticker-skills-container {
  display: flex;
  gap: 0.7rem;
}

.libs-container {
  display: flex;
  justify-content: center;
}

.lib {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 200px;
  background-color: var(--second-blue);
  border-radius: 10px;
  padding: 1rem;
  transition: box-shadow 0.2s;
}

.lib:hover {
  box-shadow: 0px 0px 10px 0px var(--a-purple);
}
.package-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: start;
}

.package-name {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.tec-package {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--a-purple);
  text-align: left;
}

.package-info > div {
  background-color: transparent;
}

.package-info > div > img {
  width: 50%;
  height: 50%;
}

.packages-container {
  display: flex;
  align-items: end;
  gap: 0.2rem;
}

.package-link {
  background-color: var(--primary-blue);
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.package-link > img {
  width: 100%;
  height: 100%;
}

.footer {
  background: rgb(11, 19, 32);
  background: linear-gradient(
    0deg,
    rgba(11, 19, 32, 0.8323704481792717) 0%,
    rgba(34, 34, 34, 0) 100%
  );
  padding: 5rem;
}

@keyframes message-skill-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enhance-nav {
  to {
    background-color: #fff4;
    backdrop-filter: blur(8px);
    font-size: 18px;
  }
}

@keyframes active-link {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;
  }
}
